* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}

button {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

button[aria-pressed="true"] {
    border-color: cornflowerblue;
}

.gameplayArea {
    display: flex;
    gap: 2rem;
}

.board {
    display: inline-grid;
    border: 3px solid black;
}

.board button:active,
.board button:focus {
    background-color: royalblue;
    outline: none;
}

.boardSpace {
    border-style: solid;
    border-width: 0px;
    padding: 0;
}

.boardSpaceBackground {
    border: 5px solid red;
    border-radius: 50%;
    height: 200%;
    width: 200%;
}

.boardSpaceGrid {
    display: grid;
    grid-template-columns: repeat(2, 5rem);
    grid-template-rows: repeat(2, 5rem);
    overflow: hidden;
}

.sizeSelecttion {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.stoneCounts {
    display: flex;
    gap: 1rem;
    font-weight: bold;
}

.selectedStack {
    display: flex;
    flex-direction: column;
}

.selectedStackPieces {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.stackPiece {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
}
