* {
    box-sizing: border-box;
}

.temp {
    color: red;
}

button {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

button[aria-pressed="true"] {
    border-color: cornflowerblue;
}
