* {
    box-sizing: border-box;
}

body {
    background-color: burlywood;
}

button {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

button[aria-pressed="true"] {
    border-color: cornflowerblue;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
}

table button {
    padding: 0.125rem 0.25rem;
    font-size: 0.8rem;
    border-width: 1px;
}

thead,
tfoot {
    background-color: white;
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

tbody > tr {
    background-color: rgb(247 248 242);
}
tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
}

/* MENU */

.menu {
    display: grid;
    grid-template-columns: auto 25rem auto;
}

.menu h1 {
    text-align: center;
    grid-column: 2;
}

.menu main {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}

.menuJoinOption {
    display: flex;
    gap: 1rem;
}

.menuOptions {
    display: flex;
}

/* GAME */

.gameplayArea {
    display: flex;
    gap: 2rem;
}

.board {
    display: inline-grid;
    border: 3px solid black;
}

.board button:active,
.board button:focus {
    background-color: royalblue;
    outline: none;
}

.boardSpace {
    border-style: solid;
    border-width: 0px;
    padding: 0;
}

.boardSpaceBackground {
    border: 5px solid red;
    border-radius: 50%;
    height: 200%;
    width: 200%;
}

.boardSpaceGrid {
    display: grid;
    grid-template-columns: repeat(2, 5rem);
    grid-template-rows: repeat(2, 5rem);
    overflow: hidden;
}

.sizeSelecttion {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.stoneCounts {
    display: flex;
    gap: 1rem;
    font-weight: bold;
}

.selectedStack {
    display: flex;
    flex-direction: column;
}

.selectedStackDisplay {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2px;
}

.selectedStackPieces {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.stackSelectionInput {
    writing-mode: vertical-lr;
}

.stackPiece {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
}
/* ADMIN */

.columnWithAction {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    background: none;
    border: none;
}
